.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: calc();
  margin-top: 20rem;
}

h2 {
  font-size: 4rem;
}

p {
  font-size: 2.7rem;
}

h2, p {
  margin-bottom: 1rem;
}

.about a {
  text-decoration: underline;
  font-size: 2.5rem;
}
