.button-choose-image {
  position: relative;
  display: flex;
  align-items: center;
}

.image-button {
  position: absolute;
  z-index: 2;
  margin-left: 2.5rem;
  margin-top: 0.2rem;
  cursor: pointer;
}
